{% extends "boutiqueApp/base.html" %} {% load static %} {% block content %}
<main class="container" role="main">
    <style>
        .bg-imgs {
            /* The image used */
            background-image: url("{% static 'boutiqueApp/images/bargains.jpg' %}");
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <section class="jumbotron text-center bg-imgs">
        <div class="parallax-container ">
            <div class="container" style="backdrop-filter: blur(8px);">
                <h1 class="text-black">Out For Bargains</h1>
                <p class="lead text-black">Look no further for the great deals za mitumba. Za madem tu, so machali kamko hapa mtoboke hiyo dough tu.</p>
                <p>
                    <a href="https://hips.hearstapps.com/pop.h-cdn.co/assets/17/24/1497533116-not-dead.gif?crop=0.8166666666666667xw:1xh;center,top&resize=640:*" class="btn btn-danger my-2">Kill the internet <i class="material-icons large">clear</i></a>
                    <a href="https://media.tenor.com/images/88426c4a91833f216e1d6370b3a59560/tenor.gif" class="btn btn-info my-2">Call me babe <i class="material-icons">mood</i></a>
                </p>
            </div>
        </div>
    </section>
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <a href="{% url 'Product-Detail' product.id %}" data-product={{ product.id }}>
                <image class="thumbnail" src="{{ product.imageURL }}"></image>
            </a>

            <div class="box-element product">
                <h6><strong> {{ product.productName }} </strong></h6>
                <hr>
                <div class="nav-scroller shadow-sm">
                    <nav class="nav container-fluid nav-underline">
                        <a data-product={{ product.id }} data-action="add" class="update-like nav-link waves-effect waves-light" href="#"><i class="material-icons large" style="color: red;">favorite_border</i><span class="badge badge-pill bg-light align-top">30</span></a>
                        <a class="waves-effect waves-light nav-link" href="#"><i class="material-icons large">subject</i></a>
                        <a class="waves-effect waves-light nav-link" href="#"><i class="material-icons large">share</i></a>
                        <a class="waves-effect waves-light nav-link" href="#"><i class="material-icons large">chat_bubble_outline</i></a>
                        <a class="waves-effect waves-light nav-link" href="#"><i class="material-icons large">star_border</i></a>
                        <a class="waves-effect waves-light nav-link" href="#"><i class="material-icons large">store</i></a>
                    </nav>
                </div>
                <h4 style="display: inline-block; float: right;"><strong> {{ product.price|floatformat:2 }}/=</strong></h4>
            </div>
            <!--div class="container"> {{ product.description }} </div-->
        </div>

        {% endfor %}

        <div class="container-fluid">

            {% if products.has_other_pages %}
            <div class="pagination">

                {% if products.has_previous %}

                <a class="btn btn-info mb-4" href="?page=1">First</a>
                <a class="btn btn-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>{% else %}
                <a class="btn btn-info mb-4 disabled"><span>&laquo;</span></a> {% endif %} {% for i in products.paginator.page_range %} {% if products.number == i %}
                <a class="btn btn-info mb-4 active" href="?page={{ i }} "><span>{{ i }} <span class="sr-only">(current)</span> </span></a> {% else %}
                <a class="btn btn-outline-info mb-4" href="?page={{ i }}"> {{ i }} </a> {% endif %} {% endfor %} {% if products.has_next %}
                <a class="btn btn-info mb-4" href="?page={{ products.next_page_number }}">Next</a>
                <a class="btn btn-info mb-4" href="?page={{ products.paginator.num_pages }}">Last</a> {% else %}
                <a class="btn btn-info mb-4 disabled"><span>&raquo;</span></a> {% endif %}
            </div>

            {% endif %}

        </div>
</main>

{% endblock content %}