{% extends "boutiqueApp/base.html" %}{% block content %}
<div class="row container-fluid">
    <div class="col-lg-12">
        <div class="box-element container">
            <a class="btn btn-outline-dark" href="{% url 'Boutique-Store' %}">&#x2190; Continue Shopping</a>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th>
                        <h5>Items: <strong>{{ order.get_cart_items }}</strong></h5>
                    </th>
                    <th>
                        <h5>Orders: <strong>{{ order.get_cart_total|floatformat:2 }}/=</strong></h5>
                    </th>
                    <th>
                        <a class="btn btn-outline-success" style="margin: 5px; float: right;" href="{% url 'Boutique-Checkout' %}">Checkout</a>
                    </th>
                </tr>
            </table>
        </div>
        <br>
        <div class="box-element">
            <div class="cart-row">
                <div style="flex: 2"></div>
                <div style="flex: 2;"><strong>Item</strong></div>
                <div style="flex: 2;"><strong>Price</strong></div>
                <div style="flex: 2;"><strong>Quantity</strong></div>
                <div style="flex: 2;"><strong>Total</strong></div>
            </div>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex: 2"><img class="row-image" src="{{ item.product.imageURL }}" alt=""></div>
                <div style="flex: 2;">
                    <p>{{ item.product.name }}</p>
                </div>
                <div style="flex: 1;">
                    <p>{{ item.product.price|floatformat:2 }}/=</p>
                </div>
                <div style="flex: 1;">
                    <p class="quantity">x{{ item.quantity }}</p>
                    <div class="quantity">
                        <i class="material-icons chg-quantity">keyboard_arrow_up</i>
                        <i class="material-icons chg-quantity">keyboard_arrow_down</i>
                    </div>
                </div>
                <div style="flex: 1;">{{ item.get_total }}</div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock content %}